__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
*.log
screenshots/
dataset/
browser_storage/
debug_html/
.DS_Store
playwright-report/
test-results/
.pytest_cache/
*.egg-info/
dist/
build/
